* {
    margin:0;
    padding:0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container{
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background: linear-gradient(-45deg, #0F2027, #203A43, #2c5364); */
    background: linear-gradient(-45deg, #bdc3c7, #2c3e50);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: white;  
    font-size: 1.5em;
}
.container-center{
    padding: 0 10%;
    min-height: 500px;
}

#background-image {
    opacity: 50%;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    object-position: center;
  }
/*----------------------------------- nav------------------------- */
nav{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5%;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: hsla(0, 0%, 0%, .5);
    text-shadow: 2px 3px 10px;
}
.wx{
    border: 1px solid white;
}
.wx:hover{
    border: 1px solid blue;
}
.wx:active{
    border: 1px solid lightblue;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 1%;
}
.nav-list>li{
    padding-right: 1em;
}
.nav-link:link, .nav-link:visited{
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    color: blue;
}
.nav-link:active{
    color: lightblue;
}
.menu-btn{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-page{
    font-size: 1.5em;
    color: white;
}
.home-page>span{
    position: relative;
    bottom: -15px;
}
.home-page>h1{
    font-size: 5em;
    margin: 0 auto;
}
h2{
    padding-top: 30px;
    padding-bottom: 15px;
}
.AboutMe{
    font-family: 'Alkalami', serif;
}
/* technologies */
#techSkills{
    display: flex;
    justify-content: center;
}
.skill-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
}
.skill{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
#resume{
    background: black;
    border: 1px solid black;
    border-radius: 5%;
    min-height: 25px;
    width: 6rem;
    padding: 5px;
    margin-top: 5px;
}
#resume>a{
    display: flex;
    justify-content: center;
}
#resume:hover{
    background: red;
    border: 1px solid red;
    cursor: pointer;
}
#resume>a:link,#resume>a:hover,#resume>a:visited{
    color: white;
    text-decoration: none;
}
.skill-logo{
    width: 50px;
    height: 50px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    padding-bottom: 25%;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.skill-logo:hover{
    width: 100px;
    height: 100px;
    padding: 25%;
    -webkit-animation: 0;
    -moz-animation: 0;
    animation: 0;
}
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: silver;
    border: 1px solid black;
}
.project-container>img{
    width: 25%;
}
/* buttons */
.img-logo{
    width: 30px;
    height: 30px; 
    border: 1px solid black;
    padding: 25px;
}
.img-logo:hover{
    box-shadow: 5px 5px 25px white;
}
.icon-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    padding: 1%;
}
.btn:link, .btn:visited{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: hsla(210, 98%, 24%, 1);
    border: 1px solid black;
    border-radius: 5%;
    width: 10%;
    color: white;
    padding: 1px;
}
.btn:hover{
    background-color: hsla(210, 98%, 45%, 1);
}
.row1{
    width: 15%;
}
.row2{
    width: 50%;
}
#contactMe-center{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.form-grid{
    display: grid;
    width: 50%;
    grid-template:
        "name email"
        "message message"
}
#name{
    grid-area: name;
}
#email{
    grid-area: email;
}
#message{
    grid-area: message;
    min-height: 150px;
}
.btn-center{
    display: flex;
    justify-content: center;
}
button{
    width: 25%;
}
button:hover{
    cursor: pointer;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.circle-border{
    padding: 5px;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 767px){

}
@media (max-width: 991px){
    .menu-btn{
        display: block;
        padding-right: 1.5%;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .nav-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 50px;
        background: hsla(0, 0%, 0%, .5);;
        padding-top: 80px;
        transition: all 0.3s ease;
        display: inline-block;
        text-align: center;
    }
    
    .nav-list.active {
        left: 0;

    }
    .nav-link{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

.notransition {
    -webkit-animation: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    animation: none !important;
  }